.badge-bootstrap {
  background-color: #4700b3;
  color: #ffffff;
}

.parallax1, .parallax2, .parallax3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.parallax1 {
  background-image: url("middle.png");
  color: #ffffff;
}

.parallax2 {
  background-image: url("middle.png");
}

.parallax3 {
  background-image: url("middle.png");
}

.introbox, .box2, .box3 {
  background-color: #ffffff;
}

.introbox {
  height: 100px;
  text-align: center;
}

.box2 {
  height: 400px;
}

.box3 {
  height: 300px;
}

.card {
  height: auto;
}