.badge-bootstrap {
  background-color: #4700b3;
  color: #ffffff;
}

.parallax1, .parallax2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("top.png");
  /*background-image: url("02.JPG");
  /* Set a specific height */
  min-height: 500px;
}

.parallax2 {
  /* The image used */
  background-image: url("middle.png");
  /*background-image: url("02.JPG");
  /* Set a specific height */
  min-height: 500px;
}